* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: transparent;
  flex-direction: column;
  background-color: #0067b2;
  margin: 0;
  position: relative;
}

#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}

.progress-bar {
  width: 650px;
  height: 650px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.7);
  border-top-color: transparent;
  position: absolute;
  animation: rotate 2s linear infinite;
}
#content {
  color: aliceblue;
}
.letter {
  border-radius: 40%;
  margin-top: 40px;
  margin-left: 20px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
